<!--
/**
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 ********************************************************************
 * @category   BelVG
 * @package    BelVG_StorePickup
 * @copyright  Copyright (c) BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 */
-->

<!-- ko foreach: getRegion('before-widget-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko if: (isAmazonAccountLoggedIn) -->
    <label class="label" for="amazon-email-address">
        <span data-bind="i18n: 'Email Address:'"></span>
    </label>
    <span id="amazon-email-address" data-bind="text: amazonCustomerEmail" />
    <div class="amazon-widget-container" data-bind="visible: !isVisible()">
        <div id="addressBookWidgetDiv" class="amazon-widget amazon-widget--address" data-bind="afterRender: initAddressWidget"></div>
    </div>
<!--/ko-->

<!-- ko foreach: getRegion('after-widget-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
