<?php

use BelVG\FrameGeometry\Setup\InstallData;

/** @var BelVG\FrameGeometry\Block\Product\Attachment $block */
$product = $block->getProduct();
$attribute = $product->getCustomAttribute(InstallData::FRAME_GEOMETRY_ATTRIBUTE_NAME);

if (null !== $attribute) {
    $attributeValue = $attribute->getValue();
    $attachmentUrl = $block->getProductAttachmentUrl($attributeValue);
}

?>

<?php if (null !== $attribute): ?>
    <a href="<?php echo $attachmentUrl ?>" target="_blank"><?php echo __('Download PDF') ?></a>
    <script>
        require([
            'jquery',
            'BelVG_FrameGeometry/js/lib/pdfobject.min'
        ], function ($, PDFObject) {
            let container = '#frame_geometry';
            $(function () {
                if ($(container).length === 1) {
                    PDFObject.embed("<?php echo $attachmentUrl ?>", container);
                }
            });
        });
    </script>
<?php endif; ?>